@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-1px);
  }
  70% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(-20deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  background-color: #28160d;
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
}

h3,
.h3 {
  font-family: "Great Vibes", cursive;
  font-size: 4rem;
}

.gradient {
  background: linear-gradient(
    180deg,
    #000000 0%,
    #28160d 20%,
    #4c2b16 70%,
    #000000 100%
  );
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -9;
}
.background-image {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/images/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
}

.debris {
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/images/debris.png");
  background-repeat: repeat;
  background-position: bottom center;
}

.container {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.item {
  width: 30%;
  padding: 3rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}

#item2 {
  flex: 1 1 auto;
}

.row1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ce812c;
  text-align: center;
}

.row2 {
}

.item4 {
  width: 50%;
  margin: 0 auto;
}

.tixImg,
.stallImg {
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin: 3rem auto;
}

.tixImg > img {
  transition: transform 300ms linear;
}

img {
  width: 100%;
}

button,
.button,
#subscribe-button {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  width: 150px;
  height: 50px;
  color: #fff;
  background: #ce812c;
  border: 2px solid #af6727;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  text-decoration: none;
  padding: 1rem;
}

button:hover,
.button:hover,
#subscribe-button:hover {
  background-color: #28160d;
  border-color: #ce812c;
}

.stallButton:hover + .stallImg {
  border-bottom: 2px inset #af6727;
}

.stallButton:hover + .stallImg > img {
  animation: bounce 500ms infinite;
}

.tixButton:hover + .tixImg > img {
  transform: rotate(-30deg) translateY(20px);
}

.emailInput {
  width: 100%;
  height: 34px;
  margin-right: 10px;
  padding-left: 10px;
}

.video2 {
  display: none;
  width: 100%;
}
.video1 {
  width: 100%;
}

@media screen and (min-width: 1600px) {
  .tixImg,
  .stallImg {
    max-width: 175px;
  }
}

@media screen and (max-width: 1240px) {
  .container {
    justify-content: flex-start;
    margin-top: 3.5rem;
  }
  .gradient {
    background: linear-gradient(180deg, #28160d 55%, #4c2b16 75%, #000000 100%);
  }
  .background-image {
    background-size: contain;
  }
  .row1 {
    flex-wrap: wrap;
  }
  #item2 {
    order: -1;
    width: 100%;
  }
  .item {
    width: 50%;
  }
  .tixImg,
  .stallImg {
    width: 125px;
  }
  .video1,
  .video2 {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .gradient {
    background: linear-gradient(180deg, #28160d 60%, #4c2b16 80%, #000000 100%);
  }
  .container {
    margin-top: 0;
  }
  .row1 {
    flex-direction: column;
    justify-content: flex-start;
  }
  .item {
    width: 100%;
  }
  h3,
  .h3 {
    margin-bottom: 1rem;
  }
  .video1,
  .video2 {
    width: 100%;
  }
  .tixImg,
  .stallImg {
    display: none;
  }
}
